.gridbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    width: 100%;
}

.gridbox > div {
    border: 3px solid #bbceff;
    background-color: #fde673;
    padding: 20px;
}