<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{% static "images/HackaronaLogo.png" %}" type="image/icon type">
        <link rel="stylesheet" href="{% static "base_styling/base.css" %}" />
        {% block import %} {% endblock %}
        
    </head>
    <body>
        <div class="wrapper">
            <div class="navbar">
                <a href="{% url 'index' %}">
                    <img class="icon" alt="Hackarona Logo, redirect to homepage" src="{%static "images/HackaronaLogo.png" %}">
                </a>
                <a href="{% url 'scan' %}"> Scan </a>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="footer">2020 Constellation Brands</div>
        </div>
    </body>
</html>