/* .form-box {
} /**/

form {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.form-row {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
label[for="id_scan"]:nth-child(1), input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input[type="file"] + label,
input[type="file"] + label:hover {
    background-color: red;
    font-size: 2.25em;
    font-weight: 700;
    display: inline-block;
    padding-left: 60px;
    height: 60px;
    background: url("./upload-icon.png") no-repeat scroll 0 0 transparent;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {
    background-color: #bbceff;
}

input[type="file"] + label {
	cursor: pointer; 
}