{% extends 'base.html' %}
{% load static %}

{% block title %}HandyBar{% endblock %}

{% block content %}
<h1>Uploads:</h1>
<br />
<ul>
    {% for upload in object_list %}
        <li>
            <a href="/results/{{ upload.uuid }}">
                <img width="20%" height="20%" src="{{ upload.scan.url }}" />
            </a>
        </li>
    {% empty %}
        <h3>No images have been uploaded!</h3>
    {% endfor %}
</ul>
<br />
<p>Want to upload a scan? <a class="cbi-link" href={% url 'scan' %}>Scan here!</a></p>
{% endblock %}